
<!DOCTYPE html>
<html>
<head>
  <title>Transpilador C# a TypeScript</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <%- include('../partials/header') %>
  <%- include('../partials/editor') %>
  <%- include('../partials/translated') %>
  <%- include('../partials/console') %>
  <%- include('../partials/table') %>
  <%- include('../partials/errors') %>
  <%- include('../partials/symbols') %>
  <script src="/js/index.js"></script>
</body>
</html>
